tex/out/Project_1.aux
tex/out/Project_1.bbl
tex/out/Project_1.blg
tex/out/Project_1.fdb_latexmk
tex/out/Project_1.fls
tex/out/Project_1.log
tex/out/Project_1.out
tex/out/Project_1.synctex.gz
src/tempCodeRunnerFile*
src/__pycache__/
settings.json