Project_*/tex/out/*.aux
Project_*/tex/out/*.bbl
Project_*/tex/out/*.blg
Project_*/tex/out/*.fdb_latexmk
Project_*/tex/out/*.fls
Project_*/tex/out/*.log
Project_*/tex/out/*.out
Project_*/tex/out/*.synctex.gz
Project_*/src/tempCodeRunnerFile*
Project_*/src/__pycache__/
settings.json